@model ComputerVision.Mvc.Models.ImageClassifierModel
@{
    ViewBag.Title = "Computer Vision";
}

<div class="jumbotron">
    <h2>Computer Vision</h2>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Please upload a image
        </p>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" class="btn btn-default" />
            <input type="submit" name="Submit" id="Submit" value="Upload" class="btn btn-success" />
            
        }
        @if (Model != null)
        {
            <img src="@Model.ImageData" class="img-responsive" alt="Responsive image">
        }
        
        

    </div>
    <div class="col-md-6">
        <h2>Image Classifier</h2>
        @if (Model != null)
        {
            <p>Class:@Model.Category</p>
            <p>Description:@Model.Description</p>
            
            <table class="table">
                <tr>
                    <th>Class</th>
                    <th>Percentage</th>
                </tr>
                @for (int i =0; i < Model.Output.Count; i++)
                {
                    <tr>
                        <td>
                            @if (i == 0)
                            {
                                <span>Horse</span>;

                            }
                            else if (i == 1)
                            {
                                <span>Lion</span>
                                
                            }
                            else
                            {
                                <span>Other</span>;
                            }
                        </td>
                        <td>@Model.Output[i]</td>
                    </tr>
                }
            </table>
        }
    </div>

</div>